# This is a basic workflow to help you get started with Actions

name: Get NYC latest weekly crime data

# Controls when the workflow will run
on:
  schedule:
    - cron: '0 12 * * 3'
      # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  render:
    name: Get and compile recent crimes data
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: r-lib/actions/setup-r@v2
      - name: Install gdal
        run: |
          brew install gdal
      - name: Install dependencies and packages
        run: Rscript -e 'install.packages(c("sf","XML","tidyverse","rvest","readxl","lubridate","janitor",purrr"))'
      - name: Get weekly crime data and compile
        run: Rscript scripts/process_newyork_crime_data.R
      - name: Commit results
        run: |
          git add -A
          git commit -m 'New crime data collected' || echo "No changes"
          git push origin || echo "No changes to commit"
